<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<db splitMode="PkgBased">
    <bean name="LevelRank">
        <column desc="等级" name="Level" type="int"/>
        <column desc="品质" name="Rank" ref="equip.rank" type="int"/>
    </bean>
    <bean name="Position" packSep=";">
        <column name="x" type="int"/>
        <column name="y" type="int"/>
        <column name="z" type="int"/>
    </bean>
    <bean name="Range">
        <column desc="最小" name="Min" type="int"/>
        <column desc="最大" name="Max" type="int"/>
    </bean>
</db>
